<footer>
  <div class="container">
    <div class="footer__info">
      <p>
        Call: 800-533-5711<br>
        Email: Sales@shortening-shuttle.com
      </p>
      <p>
        101 Crawford St.<br>
        Leominster, Ma. 01453
      </p>
    </div>
    <div class="footer-middle">
      <div class="footer__links">
        {% for link in section.settings.menu.links %}
          {{ link.title | link_to: link.url }}
        {% endfor %}
      </div>

      <div class="footer__copyright">
        &copy;
        {{ 'now' | date: '%Y' }}
        {{ shop.name | link_to: routes.root_url }}, {{ powered_by_link }}
      </div>
    </div>

    <div class="footer__payment">
      {% if section.settings.show_payment_icons %}
        {% for type in shop.enabled_payment_types %}
          {{ type | payment_type_svg_tag }}
        {% endfor %}
      {% endif %}
    </div>
  </div>
</footer>

{% stylesheet %}
  footer {
    padding: 2rem;
  }
  footer .container {
    display: flex;
    justify-content: space-between;
    max-width: 1600px;
    padding: 0;
    flex-direction: column;
    @media (min-width:1024px) {
      padding: 0 2rem;
      flex-direction: row;
    }
  }
  footer a {
    text-decoration: none;
    color: var(--color-foreground);
  }
  .footer__info { 
    font-size: 0.9rem;
    text-align: center;
    font-weight: 400;
    @media (min-width:1024px){
      text-align: left;
    }
  }
  .footer__copyright {
    text-align: center;
    font-size: 0.9rem;
    font-weight: 400;
  }

  footer .footer__links,
  footer .footer__payment {
    display: flex;
    gap: 1rem;
  }
  footer .footer__payment {
    margin:2rem auto;
    @media (min-width:1024px){
      margin:1rem;
    }
  }
  footer .footer__links {
    font-size: 0.8rem;
    font-weight: 400;
    @media (min-width:1024px){
      margin-bottom: 2rem;
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:general.footer",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:labels.menu"
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "t:labels.show_payment_icons",
      "default": true
    }
  ]
}
{% endschema %}
