{% comment %}
  Homepage highlights
{% endcomment %}
<section class="highlights-section">
  <div class="container mx-auto py-6 px-4">
    <h2>Versatile Fryer Oil Transporter for Commercial Kitchens</h2>
    <p>
      The Shortening Shuttle<sup><sup>®</sup></sup> is a versatile, safety-focused fryer oil transporter and oil filter
      machine engineered for efficient restaurant oil management. Designed to integrate with most oil filtration systems
      and deep fryer oil filters, it helps streamline operations and reduce waste in restaurants, convenience stores,
      food trucks, and other high-volume kitchens.
    </p>
    <div class="highlights-industries">
      <div class="highlight drop-shadow-xl" data-aos="fade-up" data-aos-once="true">
        <img
          src="{{ 'images/restaurant.png' | asset_url }}"
          height="auto"
          class="w-full"
        >
        <div class="content">
          <h3>Restaurants</h3>
          <p class="highlight-description">
            Utilize The Shortening Shuttle<sup>®</sup> in your restaurant to streamline oil management, enhance kitchen
            safety, and optimize operational efficiency.
          </p>
          <p>
            {{
              'Learn more about upgrading oil handling'
              | link_to: 'https://shortening-shuttle.com/pages/restaurants'
            }}
          </p>
        </div>
      </div>

      <div class="highlight drop-shadow-xl" data-aos="fade-up" data-aos-delay="200" data-aos-once="true">
        <img
          src="{{ 'images/convenience.png' | asset_url }}"
          height="auto"
          class="w-full"
        >
        <div class="content">
          <h3>Convenience Stores</h3>
          <p class="highlight-description">
            Elevate convenience store operations with The Shortening Shuttle<sup>®</sup>, simplifying oil management,
            reducing waste, and prioritizing safety.
          </p>
          <p>
            {{ 'See how to boost store safety' | link_to: 'https://shortening-shuttle.com/pages/convenience-stores' }}
          </p>
        </div>
      </div>

      <div class="highlight drop-shadow-xl" data-aos="fade-up" data-aos-delay="400" data-aos-once="true">
        <img
          src="{{ 'images/foodtruck.png' | asset_url }}"
          height="auto"
          class="w-full"
        >
        <div class="content">
          <h3>Food Trucks</h3>
          <p class="highlight-description">
            Choose The Shortening Shuttle<sup>®</sup> for food trucks to revolutionize on-the-go oil management,
            ensuring safety, and efficiency in your mobile kitchen.
          </p>
          <p>
            {{ 'Find out how to equip your food truck' | link_to: 'https://shortening-shuttle.com/pages/food-trucks' }}
          </p>
        </div>
      </div>

      <div class="highlight drop-shadow-xl" data-aos="fade-up" data-aos-delay="400" data-aos-once="true">
        <img
          src="{{ 'images/institutional.png' | asset_url }}"
          height="auto"
          class="w-full"
        >
        <div class="content">
          <h3>Institutional Kitchens</h3>
          <p class="highlight-description">
            In institutional kitchens, the Shortening Shuttle<sup>®</sup> is the ultimate solution for streamlined,
            reliable, and safe large-scale cooking oil management.
          </p>
          <p>
            {{
              'Learn more about upgrading oil handling'
              | link_to: 'https://shortening-shuttle.com/pages/institutional-kitchens'
            }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

{% stylesheet %}
  .icon {
    width: 300px;
  }
  .highlights-section {
    display: flex;
    padding: 5rem 2rem;
    text-align: center;
    justify-content: center;
  }
  .highlights-industries {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem;
  }
  .highlights-industries .highlights-section h2 {
    margin-bottom: 3rem;
  }

  @media (max-width: 1100px) {
    .highlights-industries {
      grid-template-columns: 1fr;
    }
  }

  .highlights-industries .highlight {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    border-radius: 8px;
    background-color: #eef3ff;
    line-height: 1.4;
    overflow: hidden;
  }
  .highlights-industries .highlight .content {
    padding: 1.5rem;
  }

  .highlights-industries .highlight > * + * {
    margin-top: 1rem;
  }

  .highlights-industries .highlight h3 {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .highlights-industries .highlight-description {
    flex: 1 1;
  }

  .highlights-industries .highlight a {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #20204b;
    color: white;
    border: 1px solid #20204b;
    border-radius: 5px;
    padding: 4px 10px;
    line-height: 1;
    text-decoration: none;
    font-size: 0.9rem;
    margin-top: 1.2rem;
    line-height: 1.2;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Highlights",
  "settings": [],
  "presets": [
    {
      "name": "Highlights Template",
      "category": "Shortening Shuttle"
    }
  ]
}
{% endschema %}
